<div class="main-content">
    <div class="farms-header">
        <p class="main-title">Fazendas</p>
        <button 
            mat-raised-button
            class="main-button"
            (click)="onAddFarmButton()">
            <mat-icon>add</mat-icon> Nova Fazenda</button>
    </div>
    <div *ngIf="farms.length == 0" class="no-content">
        <h4>Não há fazendas registradas</h4>
        <p>Adicione uma fazenda</p>
    </div>
    <div *ngIf="farms.length != 0">
        <table class="list-content">
            <tr *ngFor="let farm of farms">
                <td><mat-icon class="icon">home</mat-icon></td>
                <td>{{ farm.name }}</td>
                <td><mat-icon class="icon ghost pointer">edit</mat-icon></td>
                <td class="table-icon pointer"><mat-icon class="icon ghost">delete</mat-icon></td>
                <td><a [routerLink]="[farm.id, 'plot-list']"><mat-icon class="icon pointer">keyboard_arrow_right</mat-icon></a></td>
            </tr>
        </table>
    </div>
</div>

